{% extends 'base.html.twig' %}

{% block body %}
<h1>"Bienvenue sur mon blog" </h1>
Notez la navbar dynamique, reliée à la BDD au passage 8-)
    <p>C'est un peu triste quand c'est vide. Mais à mon avis, ce sera pire après, si c'est moi qui le remplis :D</p>


{% endblock %}
