{% extends 'base.html.twig' %}


{% block title %}All articles{% endblock %}

{% block body %}
    <h1>All articles from article s table : </h1>
    {% for article in articles %}
        <div>
            <h2>{{ loop.index }} / {{ article.title }} - Category : {{ article.category.name }}</h2>
            <p>{{ article.content }}</p>
        </div>
    {% else %}
        Aucun tag trouvé.
    {% endfor %}

{% endblock %}