{% extends 'base.html.twig' %}

{% block body %}

    <div>
        <h1>Articles dans le tag {{ tag.name }}</h1>
<p> Afficher ici les articles ayant le tag {{ tag.name }}</p>
        <ul>
            {% for article in tag.articles %}
                <li>{{ article.id }} : <a href="{{ path('blog_show', { 'articleName': article.title} )  }}">{{ article.title}}</a></li>
                <p>{{ article.content }}</p>
            {% else %}
                <li>Pas d'articles pour ce tag</li>
            {% endfor %}
        </ul>
    </div>

   {% endblock %}