<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Bienvenue!{% endblock %}</title>
    {{ encore_entry_link_tags('app') }}
    {% block stylesheets %} {{ encore_entry_link_tags('app') }} {% endblock %}
</head>
<body>

{{ render(controller(
    'App\\Controller\\NavbarController::Navbar')) }}

{% block body %}{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>

