<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/welcome">Accueil</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('article_index') }}">Articles</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('add_category') }}">Ajouter une catégorie</a>
            </li>
            <!--Dropdown categories-->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowncategories" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Categories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdowncategories">
                    {% for category in categories %}
                    <a class="dropdown-item" href="{{ path('show_category', {'name': category.name} )  }}">{{ category.name }}</a>

                    {% endfor %}

                </div>
            </li>
<!-- 2e dropdown sur les articles-->
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownarticles" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Articles
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownarticles">
                    {% for article in articles %}
                        <a class="dropdown-item" href="{{ path('blog_show', { 'articleName': article.title} )  }}">{{ article.title }}</a>
                    {% endfor %}

                </div>
            </li>
            <!--3e Dropdown Tags-->

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdowntags" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Tags
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdowntags">
                    {% for tag in tags %}
                        <a class="dropdown-item" href="{{ path('show_tag', {'name': tag.name} )  }}">{{ tag.name }}</a>

                    {% endfor %}

                </div>
            </li>

        </ul>

    </div>
</nav>


